*, html, body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Salsa;
    scroll-behavior: smooth;
}
header{
    background-color: #146363;
    color: aqua;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo{
    margin-right: auto;
    display: flex;
    gap: 6px;
}

.logo-img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    border-radius: 50px;
}

.logo-tittle {
    cursor: pointer;
    transition: all .5s ease 0s;
    font-size: 20px;
    margin-top: 4px;
}

.logo:hover {
    color: #eed810;
    transform: rotate(1deg);
}

.btn-cta {
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 2px 12px;
    background-color: rgb(235, 93, 11);
    color: #d5d835;
    cursor: pointer;
}

.btn-cta:hover {
    color: #7810ee;
    transform: rotate(2deg);
    background-color: #3bc23b;
}

nav ul{
    display: flex;
    padding: 1px;
    
}

li{
    list-style-type: none;
    padding: 10px;
}

li a {
    transition: all .5s ease 0s;
    display: inline-block;
}

li a:hover {
    color: #ee1091;
    transform: rotate(5deg);
}

a{
    color: #d5d835;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}

.tittle {
    font-size: 24px;
    font-weight: bold;
}

.description {
    font-size: 28px;
    font-weight: bolder;
}

.img-foto {
    width: 100%;
    height: auto;
    padding: 10px;
    max-width: 500px;
    border-radius: 150px;
}

.parallax {
    background-image: url(assets/foto/opstore.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.koleksi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1a2238;
    color: #ee1091;
    padding: 20px;
}

.mt-10 {
    margin-top: 20px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;    
}

.card-item {
    text-align: center;
    width: 25%;
    min-height: 200px;
    max-height: 300px;
    background: #f7f7f7;
    color: #222;
    padding: 24px;
    box-shadow: 2px 5px 5px 1px rgb(0, 0, 0, 5);
}

.card-tittle {
    font-size: 18px;
    font-weight: bolder;
}

.card-description {
    font-size: 14px;
    margin-top: 4px;
}

.icon {
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 4px;
}

footer {
    padding: 30px;
    text-align: center;
    background: #146363;
    color: #ee1091;
    max-height: 85px;
}

@media screen and (max-width:500px) {
    .card {
        flex-direction: column;
        gap: 0;
    }
    .card-item {
        width: 100%;
        opacity: 0.9;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .intro {
        margin-top: 20px;
    }
    .img-foto {
        padding: 10px;
    }
    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        background: #146363;
        z-index: 9;
    }
    footer {
        margin-bottom: 20px;
        margin-top: 68px;
    }
}